<h1>Finish the tutorial for <%= User.find(Match.find(params[:id]).user_id).firstName %> in <%= Course.find(Enrolment.find(Mentor.find(Match.find(params[:id]).mentor_id).enrolment_id).course_id).name %>?</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for ([@user, @matched]), url: {action: "update"} do |f| %>
      <%= f.hidden_field :if_finish, :value => true %>
      <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>